:root{
    --background:#F9EFDB;
    --primary-color:#F6995C;
    --secondary-color:#124076;
}
body{
    margin: 0;
    padding: 0;
}
.bg-merah-pastel{
    background-color: var(--background);
}
.hero{
    background-image: url('../img/abstractBackground.jpg');
    background-size: cover;
}
.text-blue{
    color: var(--secondary-color);
}
.btnKu{
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    transition: .3s ease-in-out;
}
.btnKu:hover{
    background-color: #f8863a;
    border-radius: 0;
}
.search:active{
    outline: #124076;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}
.category-card:hover{
    box-shadow: 5px 10px;
}
.text-center{
    text-align: center;
}
.ml-100{
    margin-left: 100px;
}
.mr-100{
    margin-right: 100px;
}
.absolute{
    position: absolute;
}
.right-4{
    right: 20px;
}
.top-4{
    top:20px;
}
.mx-auto{
    margin: 0 auto;
}