:root{
    --background:#F9EFDB;
    --primary-color:#F6995C;
    --secondary-color:#124076;
}
body{
    margin: 0;
    padding: 0;
}
.bg-merah-pastel{
    background-color: var(--background);
}
.hero{
    background-image: url('../img/abstractBackground.jpg');
    background-size: cover;
}
.text-blue{
    color: var(--secondary-color);
}
.btnKu{
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    transition: .3s ease-in-out;
}
.btnKu:hover{
    background-color: #f8863a;
    border-radius: 0;
}
.search:active{
    outline: #124076;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}